.blog-card {
  display: grid;
  max-width: 870px;
  grid-template-columns: 42% 58%;
  align-items: center;
  background: #ffffff;
  box-shadow: 0px 5px 25px rgba(144, 96, 219, 0.15);
  border-radius: 15px;

  @media (max-width: $tabletwidth) {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr min-content;
  }
}

.blog-card__image-wrapper {
  @media (max-width: $tabletwidth) {
    height: 280px;
    width: 100%;
    text-align: center;
  }
}

.blog-card__image {
  width: 100%;
  max-height: 280px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;

  @media (max-width: $tabletwidth) {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 0;
  }
}

.blog-card__text {
  padding: 30px;

  @media (max-width: $tabletwidth) {
    text-align: center;
  }
}

.blog-card__title {
  margin: 0 0 10px 0;
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;

  @media (max-width: $mobilewidth) {
    font-size: 22px;
    line-height: 26px;
  }
}

.blog-card__desc {
  margin: 0 0 25px 0;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;

  @media (max-width: $mobilewidth) {
    margin: 0 0 10px 0;
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
  }
}

.blog-card__desc-add {
  @media (max-width: $mobilewidth) {
    display: none;
  }
}

.blog-card__link {
  color: #9851df;
  text-decoration: underline;
}

.blog-card__tags {
  margin: 0 0 10px 0;
  font-size: 12px;
  font-weight: 300;
  line-height: 14px;
}

.blog-card__date {
  margin: 0;
  font-size: 12px;
  font-weight: 300;
  line-height: 14px;
}
