.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 15px;
  font-size: 10px;
  font-weight: 300;
  line-height: 12px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #000000;
  border: 1px solid #000000;
  border-radius: 50px;
}
