.footer {
  padding-top: 40px;
  padding-bottom: 25px;
  background: #292929;
  color: #ffffff;

  @media (max-width: $tabletwidth) {
    padding-top: 0;
  }
}

.footer__container {
  padding-left: 40px;

  @media (max-width: $tabletwidth) {
    display: flex;
    flex-direction: column;
  }
}

.footer__logo-wrapper {
  width: 155px;

  @media (max-width: $tabletwidth) {
    padding-top: 25px;
    padding-bottom: 25px;
    order: 1;
  }
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;

  @media (max-width: $tabletwidth) {
    padding-top: 25px;
    flex-direction: column;
    align-items: stretch;
    order: 3;
  }
}

.footer__copyright {
  font-size: 12px;
  line-height: 16px;

  @media (max-width: $tabletwidth) {
    margin-bottom: 20px;
    order: 4;
  }
}

.footer__social {
  @include reset-list;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  left: -25px;

  @media (max-width: $tabletwidth) {
    position: static;
    order: 5;
  }
}

.footer__social-item {
  margin-right: 14px;

  &:last-child {
    margin-right: 0;
  }
}

.footer__social-link {
  display: flex;
  width: 23px;
  height: 23px;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  border-radius: 50%;

  &--vk {
    background-image: url("../img/vector/vkfooter.svg");
  }

  &--fb {
    background-image: url("../img/vector/fbfooter.svg");
  }

  &--inst {
    background-image: url("../img/vector/instfooter.svg");
  }

  &--tw {
    background-image: url("../img/vector/twfooter.svg");
  }

  &--gh {
    background-image: url("../img/vector/ghfooter.svg");
  }
}

.footer__contacts {
  position: relative;
  top: -22px;

  @media (max-width: $tabletwidth) {
    position: static;
    margin-bottom: 20px;
    order: 1;
  }
}

.footer__contacts-title {
  margin: 0 0 25px 0;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
}

.footer__contacts-text {
  margin: 0;
}

.footer__contacts-link {
  font-size: 12px;
  line-height: 16px;
  color: #ffffff;
}

.footer__confidencial {
  @media (max-width: $tabletwidth) {
    order: 2;
  }
}

.footer__confidencial-link {
  font-size: 12px;
  line-height: 16px;
  color: #ffffff;
}

.footer__language {
  margin-top: 33px;
  font-size: 12px;
  line-height: 16px;

  @media (max-width: $tabletwidth) {
    order: 3;
  }
}

.footer__language-option {
  color: #ffffff;

  &--current {
    font-weight: 700;
  }
}

.footer__navigation {
  margin-top: 30px;

  @media (max-width: $tabletwidth) {
    position: relative;
    margin-top: 0;
    padding-top: 30px;
    padding-bottom: 30px;
    order: 2;

    &::after {
      content: "";
      position: absolute;
      width: 100vw;
      height: 1px;
      left: -40px;
      bottom: 0;
      background-color: #ffffff;
    }

    &::before {
      content: "";
      position: absolute;
      width: 100vw;
      height: 1px;
      left: -40px;
      top: 0;
      background-color: #ffffff;
    }
  }
}

.footer__navigation-list {
  @include reset-list;
  display: flex;
  justify-content: center;

  @media (max-width: $tabletwidth) {
    flex-direction: column;
  }
}

.footer__navigation-item {
  position: relative;
  margin-right: 32px;

  &::after {
    content: "";
    position: absolute;
    width: 1px;
    height: 7px;
    right: -16px;
    top: 8px;
    background-color: #ffffff;
  }

  &:last-child {
    margin-right: 0;

    &::after {
      width: 0;
    }
  }

  @media (max-width: $tabletwidth) {
    margin-right: 0;
    margin-bottom: 25px;

    &::after {
      display: none;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.footer__navigation-link {
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  color: #ffffff;

  @media (max-width: $tabletwidth) {
    font-weight: 700;
  }
}
