.hero {
  padding-top: 170px;
  padding-bottom: 220px;
  margin-top: -100px;
  background: url("../img/vector/wave.svg") bottom / 100% 210px repeat-x, url("../img/herobg.png") no-repeat 65%, linear-gradient(220.86deg, #9851DF 4.06%, #54D6BF 90.76%);
}

.hero__wrapper {
  max-width: 640px;
}

.hero__title {
  margin: 0;
  margin-bottom: 30px;
  font-size: 48px;
  font-weight: bold;
  line-height: 57px;
  color: #ffffff;
}

.hero__desc {
  margin: 0;
  margin-bottom: 70px;
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
}

.hero__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 540px;
}

.hero__link {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 195px;
  padding: 12px;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 30px;
}

.hero__socials {
  @include reset-list;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  min-width: 265px;
}

.hero__socials-link {
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;

  &--vk {
    background-image: url("../img/vector/vk.svg");
    width: 36px;
    height: 21px;
  }

  &--fb {
    background-image: url("../img/vector/fb.svg");
    width: 15px;
    height: 33px;
  }

  &--inst {
    background-image: url("../img/vector/inst.svg");
    width: 28px;
    height: 28px;
  }

  &--tw {
    background-image: url("../img/vector/tw.svg");
    width: 31px;
    height: 25px;
  }

  &--gh {
    background-image: url("../img/vector/gh.svg");
    width: 33px;
    height: 32px;
  }
}
