.service-card {
  min-height: 320px;
  width: 237px;
  padding: 25px 22px;
  box-shadow: 0px 4px 15px rgba(#8f5fdc, 0.2);
  border-radius: 18px;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: top 80px center;

  &--mobile {
    background-image: url("../img/vector/mobile.svg");
  }

  &--frontend {
    background-image: url("../img/vector/frontend.svg");
  }

  &--backend {
    background-image: url("../img/vector/backend.svg");
    background-position: top 90px center;
  }

  &--devops {
    background-image: url("../img/vector/devops.svg");
  }

  &--ui {
    background-image: url("../img/vector/design.svg");
  }

  &--managment {
    background-image: url("../img/vector/managment.svg");
  }
}

.service-card__title {
  margin: 0;
  padding-bottom: 180px;
  font-size: 15px;
  font-weight: 500;
  text-align: center;
}

.service-card__desc {
  margin: 0;
  font-size: 13px;
  line-height: 15px;
}
