.service-cards {
  padding-top: 70px;
  padding-bottom: 40px;

  background-image: url("../img/vector/servicecards.svg");
  background-position: top -390px left;
  background-repeat: no-repeat;

  @media (max-width: $mobilewidth) {
    background-image: none;
  }
}

.service-cards__list {
  @include reset-list;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.service-cards__item {
  margin-bottom: 50px;
  margin-left: 10px;
  margin-right: 10px;

  @media (max-width: $tabletwidth) {
    margin-bottom: 35px;
  }

  @media (max-width: $mobilewidth) {
    margin-bottom: 25px;
  }
}
